body{
    background-color: #EAE7B1;
}
.mainForm{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.label-search{
    padding: 10px;   
    color:#3C6255;
    font-weight: bold;
}
.form-control{
    display: -webkit-inline-flex;
}
.placeHolder{
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 0.25rem;
}
.mb-2{
    color:#3C6255;
}
.btn-search{
    margin: 10px;
    padding: 10px;
    color: #EAE7B1;
    background-color: #3C6255;
    border: none;
    border-radius: 0.25rem;
}


