
.searchForm{
    width: 60%;
    margin: 0 auto;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}
.label-search{
    padding: 10px;   
    color:#3C6255;
    text-decoration: underline;
}
.placeHolder{
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 0.25rem;
}
.mb-2{
    color:#3C6255;
}
.btn-search{
    margin: 10px;
    padding: 10px;
    color: #EAE7B1;
    background-color: #3C6255;
    border: none;
    border-radius: 0.25rem;
}


